{% extends "blog/base_body.html" %}
<!--
      base_body.html -- include in base.html
      contanis body column structure
-->
{% block col2 %}
	<div class="content-section">
	<h3>Our Sidebar</h3>
	<p class='text-muted'>Hier kommen andere coole Sachen hin.
	  <ul class="list-group">
	    <li class="list-group-item list-group-item-light">Latest Posts</li>
	    <li class="list-group-item list-group-item-light">Announcements</li>
	    <li class="list-group-item list-group-item-light">Calendars</li>
	    <li class="list-group-item list-group-item-light">etc</li>
	  </ul>
	</p>
	</div>
{% endblock col2 %}
