[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyperclip = "*"
pandas = "*"

[packages]
django-crispy-forms = "*"
django = "*"
tensorflow = "*"
pillow = "*"
pyperclip = "*"
netifaces = "*"
requests = "*"
djangorestframework = "*"

[requires]
python_version = "3.7"
